<h2>found on</h2>
{% if site.github_user %}
<a href="https://github.com/{{site.github_user}}/" rel="tooltip" title="Github" target="_blank"><img class="social_icon" alt="github icon" src="{{ root_url }}/images/github.png"></a>
{% endif %}

{% if site.stackoverflow_user %}
<a href="http://stackoverflow.com/users/{{site.stackoverflow_user}}/" rel="tooltip" title="Stack Overflow"><img class="social_icon" title="Stack Overflow" alt="stack overflow icon" src="{{ root_url }}/images/glyphicons_400_stack_overflow.png"></a>
{% endif %}

{% if site.linkedin_user %}
<a href="http://www.linkedin.com/in/{{site.linkedin_user}}" rel="tooltip" title="Linkedin"><img class="social_icon" title="Linkedin" alt="Linkedin icon" src="{{ root_url }}/images/glyphicons_377_linked_in.png"></a>
{% endif %}

{% if site.weibo_user %}
<a href="http://weibo.com/{{site.twitter_user}}" rel="tooltip" title="Weibo" target="_blank"><img class="social_icon" alt="Weibo icon" src="{{ root_url }}/images/weibo.png"></a>
{% endif %}

{% if site.googleplus_user %}
<a href="https://plus.google.com/{{site.googleplus_user}}?rel=author" rel="tooltip" title="Google Plus"><img class="social_icon" title="Google Plus" alt="Google Plus icon" src="{{ root_url }}/images/glyphicons_386_google_plus.png"></a>
{% endif %}

{% if site.quora_user %}
<a href="http://www.quora.com/{{site.quora_user}}" rel="tooltip" title="Quora"><img class="social_icon" title="Quora" alt="Quora icon" src="{{ root_url }}/images/glyphicons_385_quora.png"></a>
{% endif %}

{% if site.email %}
<a href="mailto:{{ site.email }}/" rel="tooltip" title="E-mail" target="_blank"><img class="social_icon" alt="e-mail icon" src="{{ root_url }}/images/e-mail.png"></a>
{% endif %}

{% if site.instagram_user %}
<a href="http://instagram.com/{{site.instagram_user}}/" rel="tooltip" title="Instagram" target="_blank"><img class="social_icon" alt="github icon" src="{{ root_url }}/images/instagram.png"></a>
{% endif %}